backend "consul" {
  address = "{{ default .Env.CONSUL_ADDR "localhost" }}"
  path = "{{ default .Env.VAULT_PATH "vault-prod" }}"
  advertise_addr = "{{ default .Env.ADVERTISE_ADDR "http://localhost:8200" }}"
  disable_registration = "{{ default .Env.CONSUL_DISABLE "true" }}"
  cluster_addr = "{{ default .Env.ADVERTISE_ADDR "http://localhost:8200" }}"
}
listener "tcp" {
  address = "{{ default .Env.ADDRESS "0.0.0.0:8200" }}"
  tls_disable = {{ default .Env.TLS_DISABLE "0" }}
  {{if .Env.VAULT_KEY }}tls_key_file = "{{ .Env.VAULT_KEY }}" {{end}}
  {{if .Env.VAULT_CERT }}tls_cert_file = "{{ .Env.VAULT_CERT }}" {{end}}
}
{{if .Env.STATSITE_ADDR }}
telemetry {
  statsite_address = "{{ .Env.STATSITE_ADDR }}"
  disable_hostname = true
}
{{end}}
disable_mlock = true
